<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CALYPSO.Properties.Settings.calypsoConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\calypso.mdb"
            providerName="System.Data.OleDb" />
        <add name="CALYPSO.Properties.Settings.calypso1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\calypso1.mdb"
            providerName="System.Data.OleDb" />
        <add name="CALYPSO.Properties.Settings.db_calypsoConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\db_calypso.mdb"
            providerName="System.Data.OleDb" />
        <add name="CALYPSO.Properties.Settings.db_calypsoConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\db_calypso.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>